# 리스트

In [ ]:
# 시퀀스형 자료형
a = 'hello world'
a[0]
a[:5]

'hello'

In [ ]:
range(10)[3]

3

In [ ]:
range(100, 1000, 10)[3]

130

In [ ]:
range(100)[::5]

range(0, 100, 5)

In [ ]:
range(10)[3:]

range(3, 10)

In [ ]:
a, b, c, d, e = 'hello'
d

'l'

In [ ]:
for i, j in [[10, 20], [30, 40]]:
    print(i, j)

10 20
30 40

In [ ]:
enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)

In [ ]:
# enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2]
# enumerate([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 100)[2:]

In [ ]:
b = b'world' # 유니코드표 X, 아스키코드표에서 찾습니다!
b[0]

119

In [ ]:
# b'' # 바이트
# f'' # f-string 용법
# r'' # raw값 출력

In [ ]:
# 덧셈과 곱셈
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [1, 2, 3, 4, 5]

print(a * 3) # 출력: [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
a = [1, 2, 3, 4, 5]
a = a * 3
print(a * 3)
id(a[2]), id(a[7])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

(134209827012912, 134209827012912)

In [ ]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시 것을 권합니다!
print(a)
id(a[0]), id(a[1])
a[0][0] = 10000
a

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]

[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[1:4])

[2, 3, 4]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]

In [ ]:
l = [1, 2, 3, 4, 5]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
# [1, 2, 3] + [1, 2, 3] = [1, 2, 3, 1, 2, 3]
# [2, 4, 6] 요소마다 더해지는 것은 아닙니다. 그런데 이러한 코드는 __add__에 구현이 되어 있는 것입니다.
# __add__에 요소마다 더하는 것으로 구현이 되어 있었다면 [2, 4, 6]을 출력했을 것입니다.

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지는 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
# 문제1: 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

In [ ]:
# 문제2: 리스트 numbers가 주어졌을 때,
# 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x%2==1,numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

# 리스트(이어서)

In [ ]:
z = [
	10,
    20,
    30,
    40,
]
print(z[0])

10

In [ ]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [ ]:
print(l[-3:])

[3, 4, 5]

In [ ]:
sum([1, 2, 3, 4])

10

In [ ]:
# sum(list(range(101)))과 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요.
sum(list(range(101)[::2]))
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15]))
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.
sum(list(range(101))[0:91][::2])

2070

In [ ]:
# 실무에서도 이렇게 2개를 자주 사용합니다!
(list(range(101))[0:91][::-1])

[90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1,
 0]

In [ ]:
ㅣ = [1, 2, 3]
dir(l)

In [ ]:
#  'append',
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# append
l = [1, 2, 3]
l.append(100)

[1, 2, 3, 100]

In [ ]:
#  'clear',
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# clear
l = [1, 2, 3]
l.clear()
l

[]

In [ ]:
#  'copy',
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort'

# copy
l = [10, 20, 30]
ll = l
l[0] = 1000
l

[1000, 20, 30]

In [ ]:
l = [10, 20, 30]
ll = l
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

133036557469824 133036557469824
[1000, 20, 30] [1000, 20, 30]

In [ ]:
l = [10, 20, 30]
ll = l.copy()
print(id(ll), id(l))
l[0] = 1000
print(l, ll)

133035992186560 133035989695488
[1000, 20, 30] [10, 20, 30]

In [ ]:
a = [10, 20]
b = [100, 200]

l = [a, b]
ll = l.copy()
print(id(l), id(ll))
l[0][0] = 1000
print(l, ll)

133037229533248 133035991404672
[[1000, 20], [100, 200]] [[1000, 20], [100, 200]]

In [ ]:
import copy
# 많이 사용되니 내장되어 있는 것이지만
# 많이 사용되지는 않습니다.

a = [10, 20]
b = [100, 200]

l = [a, b]
ll = copy.deepcopy(l)

print(id(l), id(ll))
l[0][0] = 100000
print(l, ll)

133035990924096 133036557505344
[[100000, 20], [100, 200]] [[10, 20], [100, 200]]

In [ ]:
a = 10
b = a
c = b
b = 20

In [ ]:
import copy

k = [10000]

a = [10, k]
b = [100, k]

l = [a, b]
ll = copy.deepcopy(l)
k[0] = 1000000
print(l)
print(ll)

[[10, [1000000]], [100, [1000000]]]
[[10, [10000]], [100, [10000]]]

In [ ]:
#  'count',
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort

# count

[1, 1, 1, 3, 3, 5, 6].count(1)

3

In [ ]:
list('1113356').count('1')

3

In [ ]:
#  'extend',
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort

# extend

l = [10, 20 ,30]
l.append([10, 20])
l

[10, 20, 30, [10, 20]]

In [ ]:
l = [10, 20 ,30]
l.extend([10, 20])
l

[10, 20, 30, 10, 20]

In [ ]:
l = [10, 20 ,30]
l.extend(['hello'])
l

[10, 20, 30, 'hello']

In [ ]:
# 한 자리씩 잘라서 넣는다라고 생각해볼게요. 예를 들어 자릿수 모두 더하는 문제
userinput = input('숫자를 입력하세요:')
l = [10, 20 ,30]
l.extend(map(int, userinput))
l

숫자를 입력하세요:123

[10, 20, 30, 1, 2, 3]

In [ ]:
# 한 자리씩 잘라서 넣는다라고 생각해볼게요.
l = [10, 20 ,30]
l.extend(map(int, input('숫자를 입력하세요:')))
l

숫자를 입력하세요:452

[10, 20, 30, 4, 5, 2]

In [ ]:
#  'index',
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort

# index

l = [10, 20 ,30, 40 ,50]
l.index(30)

# l.index(60)

2

In [ ]:
l = [10, 20 ,30, 40 ,50]
# l.find(60) find 메서드가 없습니다!

In [ ]:
#  'insert',
#  'pop',
#  'remove',
#  'reverse',
#  'sort

# insert

l = [10, 20 ,30]
l.insert(2, 25)
print(l)

[10, 20, 25, 30]

# 연습문제

In [ ]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
# 정답: [10, 20, 25, 30, 40, 50]
# * 다른 정답을 허용합니다.

s = sorted([10, 20, 40, 50, 30])
s.insert(s.index(30), 25)
s

s = [10, 20, 40, 50, 30]
s.append(25)
sorted(s)

# sorted([10, 20, 40, 50, 30].append(25)) # error
# print(s.append(100))의 값이 None이기 때문에 그렇습니다.

[10, 20, 25, 30, 40, 50]

In [ ]:
#  'pop',
#  'remove',
#  'reverse',
#  'sort

# pop

# 마지막에서 빼는 것
l = [10, 20, 30]
print(l.pop())
print(l)

30
[10, 20]

In [ ]:
# 첫번쨰에서 빼는 것
l = [10, 20, 30]
print(l.pop(0))
print(l)

10
[20, 30]

In [ ]:
# 첫번쨰에서 빼는 것
l = [10, 20, 30]
result = l.pop(0)
print(l, result)

[20, 30] 10

In [ ]:
l = [1, 2, 3, 4, 5]
while l:
    print(l.pop())

5
4
3
2
1

In [ ]:
l = [1, 2, 3, 4, 5]
while l:
    print(l.pop(0))

1
2
3
4
5

In [ ]:
#  'remove',
#  'reverse',
#  'sort

# remove

a = [1, 2, 3, 1, 2, 2, 2, 1, 2]
a.remove(2)
print(a)  # 출력: [1, 3, 1, 2, 2, 2, 1, 2]

[1, 3, 1, 2, 2, 2, 1, 2]

In [ ]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 2]
while l.count(2):
    l.remove(2)

l

[1, 3, 1, 1]

In [ ]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 2]
list(filter(lambda x: x != 2, l))

[1, 3, 1, 1]

In [ ]:
#  'reverse',
#  'sort

# reverse

# reverse와 reversed 차이, sort와 sorted의 차이
# 원본 수정이이냐? 원본수정이 아니냐.
l = [1, 2, 10, 3, 4]
print(list(reversed(l)))    # 출력 : [4, 3, 10, 2, 1]
print(l)                    # 출력 : [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]

In [ ]:
# reverse와 reversed 차이, sort와 sorted의 차이
# 원본 수정이이냐? 원본수정이 아니냐.
l = [1, 2, 10, 3, 4]
print(l.reverse())  # 출력 : None
print(l)            # 출력 : [4, 3, 10, 2, 1]

None
[4, 3, 10, 2, 1]

In [ ]:
#  sort

# sort

l = [1, 2, 10, 3, 4]
print(list(sorted(l)))  # 출력 : [1, 2, 3, 4, 10]
print(l)                # 출력 : [1, 2, 10, 3, 4] # 원본은 그대로입니다.

[1, 2, 3, 4, 10]
[1, 2, 10, 3, 4]

In [ ]:
#  sort

# sort

l = [1, 2, 10, 3, 4]
print(l.sort())     # 출력 : None
print(l)            # 출력 : [1, 2, 3, 4, 10]

None
[1, 2, 3, 4, 10]

In [ ]:
# 게시판 = [게시물1, 게시물2, 게시물3, 게시물4]
# 게시물1 : 오래된 게시물이 저장이 되어 있을겁니다.(append로 게시물 추가했다고 생각해볼게요.)
# 그러면 그냥 게시판을 출력했을 때 최상단에 노출되는 게시물은 가장 오래된 게시물일겁니다.
# 컴퓨터 입장에서는요.
# 그래서 게시판.reverse()해서 출력합니다. 최신 게시물이 상단에 오게요.
# 그러면 게시물5는 어디에 추가될까요? 원본을 수정했기 때문에 게시물1 다음에 게시물5가 추가됩니다.
# 게시판[::-1], reversed(게시판)를 사용해서 역순으로 만들었어야 했습니다.
# 보이는화면 = 게시판[::-1]
# 보이는화면 = reversed(게시판)

# 튜플

In [ ]:
# 튜플은 안에 있는 값이 변경 가능한 자료형이 아닙니다.
# 튜플은 참조 불변입니다.
# 리스트에 비해 처리 속도가 조금 더 빠르기도 합니다.

x = (1, 2, 3)
# x[0] = 1000

In [ ]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [ ]:
# 데이터의 변경이 민감한 곳
# 참조의 갯수가 변하면 안되는 곳

s = {'one':1, 'two':2}
s.items()

dict_items([('one', 1), ('two', 2)])

In [ ]:
t = (1, 2, 3, 4, 5)
print(t[1:4])  # 출력: (2, 3, 4)

(2, 3, 4)

In [ ]:
t = (1, 1, 1, 2, 3, 4)
t.count(1)

3

In [ ]:
t.index(3)

4

# 딕셔너리

In [ ]:
# 파이썬 3.6 버전부터 삽입 순서가 보장
# colab, colab에서 불과 1 ~ 2년 전만 하더라도 print로 출력한 것은 정렬 출력,
# 맨 마지막 출력은 정렬하지 않고 출력했습니다.

In [ ]:
d = {'bb':100, 'hello':10, 'world':20, 'aa':30}
print(d)
d

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

{'bb': 100, 'hello': 10, 'world': 20, 'aa': 30}

In [ ]:
d = dict([('one' , '하나'), ('two', '둘')])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [ ]:
d = dict([['one' , '하나'], ['two', '둘']])
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [ ]:
# d = dict([['aa'], ['bb']])
# print(d)  # error

In [ ]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [ ]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True : [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True]) # 출력: [100, 200]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [ ]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'

print(person)

{'name': 'mura', 'city': 'Seoul'}

In [ ]:
person['age'] = '10'
print(person)

{'name': 'mura', 'city': 'Seoul', 'age': '10'}

In [ ]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [ ]:
hero = {'name': 'licat', 'age': 10}
dir(hero)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#  'items',
#  'keys',
#  'values'
#  'fromkeys',
#  'get',
#  'pop',
#  'popitem',
#  'setdefault',
#  'update',

hero = {'name': 'licat', 'age': 10}

hero2 = hero

hero2['name'] = 'mura'

print(hero, hero2)

{'name': 'mura', 'age': 10} {'name': 'mura', 'age': 10}

In [ ]:
# 'items',
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

# items

hero = {'name': 'licat', 'age': 10}
print(hero2.items())
# hero2.items()[0] # error
list(hero2.items())[0] # 출력: ('name', 'mura')
type(hero2.items())

dict_items([('name', 'mura'), ('age', 10)])

dict_items

In [ ]:
# 'keys',
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

#keys

hero = {'name': 'licat', 'age': 10}
print(hero.keys())
type(hero.keys())

# 이렇게 많이 사용합니다.
for i in hero2.keys():
    print(i)

dict_keys(['name', 'age'])
name
age

In [ ]:
# 'values'
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update',

# values

hero = {'name': 'licat', 'age': 10}
print(hero.values())
type(hero.values())

dict_values(['licat', 10])

dict_values

In [ ]:
hero = {'name': 'licat', 'age': 10}

# 'licat' in hero # 출력 : False
# 'name' in hero # 출력 : True

In [ ]:
'licat' in hero.values()
'licat' in hero.values()

True

In [ ]:
# 'fromkeys',
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update'

# fromkeys
keys = ['name', 'city', 'job']
values = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [ ]:
keys = ['name', 'city', 'job']
value = None
print(dict.fromkeys(keys, values))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [ ]:
# 'get',
# 'pop',
# 'popitem',
# 'setdefault',
# 'update'

# get
d = {'name': 'licat', 'city':'jeju'}
d['name']
d.get('name') # 기억하고 있어야합니다

'licat'

In [ ]:
d = {'name': 'licat', 'city':'jeju'}
# d['age] # error, 이거 가볍게 생각하면 안됩니다! 서비스 멈춥니다!
d.get('age', '값 없음!')

'값 없음!'

In [ ]:
# 위험한 코드입니다!
def 요일변경(n):
    return {
        1:'월요일',
        2:'화요일',
        3:'수요일',
        4:'목요일',
        5:'금요일',
        6:'토요일',
        7:'일요일'
    }[n]

요일변경(3)
# 요일변경(8) error, 서비스 멈춥니다!

'수요일'

In [ ]:
def f():
    return '금금금요일'

def 요일변경(w):
    return {
        '월':'월요일',
        '화':'화요일',
        '수':'수요일',
        '목':'목요일',
        '금':'금요일',
        '토':'토요일',
        '일':'일요일'
    }.get(w, f())

요일변경('잉')
print(요일변경('잉'))

금금금요일

In [ ]:
# 'pop',
# 'popitem',
# 'setdefault',
# 'update'

# pop
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
one_value = numbers.pop('one')

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
# numbers.pop()
numbers

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
# 'popitem',
# 'setdefault',
# 'update'

# popitem

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [ ]:
# 'setdefault',
# 'update'

# setdefault

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", "3")
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
# 'update'

#update

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'three': '3', 'four': '4'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '3', 'four': '4'}

# 연습문제

In [ ]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1 : 다음 국영수 dict에 점수에 평균을 구하시오.
Average = sum(국영수.values()) / len(국영수)
Average

# 문제2 : {'사회':70, '과학': 85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하세요.
국영수.update({'사회':70, '과학': 85})
Average2 = sum(국영수.values()) / len(국영수)
Average2

# 문제3 : 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가 해주세요.
# 국영수.update({'영어':48, '수학': 100})
# (국영수)
국영수['영어'] += 10
국영수['수학'] += 10
국영수.update({'영어': 국영수.get('영어', 0) + 10})
국영수.update({'수학': 국영수.get('수학', 0) + 10})

# 문제4 : 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성해주세요.
국영수 = {'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}
max(국영수.items(), key = lambda x: x[1])[0] # 강토님 코드

max(국영수, key = 국영수.get) # 형섭님 코드 (강토님 코드에서 변형한)

values = list(국영수.values()) # 병헌님 코드
list(국영수.keys())[(values.index(max(values)))]

list(sorted(국영수.items(), key = lambda x:x[1], reverse = True))[0][0] #찬양님 코드

for key in 국영수:          # 종훈님 코
    if(국영수.get(key) == max(국영수.values())):
        print(key)

[i for i, j in 국영수.items() if j == max(국영수.values())] # 진경님 코드

수학

['수학']

In [ ]:
# 여러개의 딕셔너리를 왔다갔다 하면서 key 값으로 value값을 비교할 때에도 사용합니다.
local = {'제주': 100, '서울': 977, '부산': 500}
강우량 = {'제주': 100, '서울': 97, '부산': 50}
max(강우량, key = local.get)

'서울'

In [ ]:
d = {'a': 10, 'bb': 9, 'c':  5, 'd': 6}
max(d) # 유니코드가 가장 큰 key값을 출력하겠다

'd'

In [ ]:
d = {'a': 10, 'bb': 9, 'c':  5, 'd': 6}
max(d, key = len) # 길이가 가장 긴 key값을 출력하겠다.

'bb'

In [ ]:
d = {'a': 10, 'bb': 9, 'c':  5, 'd': 6}
max(d, key = d.get) # d.get에서 반환된 가장 큰값의 key값을 출력하겠다.

'a'

# 얕은 복사와 깊은 복사

In [ ]:
l = [1, 2, 3]
ll = l.copy()
l, ll

([1, 2, 3], [1, 2, 3])

In [ ]:
import copy

a = [1, 2]
b = [3, 4]

aa = [10, 20, a]
bb = [30, 40, b]

aaa = [100, 200, aa]
bbb = [300, 400, bb]

l = [aaa, bbb]
ll = copy.deepcopy(l) # 깊은 복사

a[0] = 99
print(l)
print(ll)

[[100, 200, [10, 20, [99, 2]]], [300, 400, [30, 40, [3, 4]]]]
[[100, 200, [10, 20, [1, 2]]], [300, 400, [30, 40, [3, 4]]]]

In [ ]:
l = [[1, 2, 3], [4, 5, 6]]
ll = [i for i in l]
ll[0][0] = 1000
l

[[1000, 2, 3], [4, 5, 6]]

In [ ]:
# 리스트 컴프리헨션으로 깊은 복사 구현(완전하진 않습니다.)
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 1000
print(l)
print(ll)

[[1, 2, 3], [4, 5, 6]]
[[1000, 2, 3], [4, 5, 6]]

In [ ]:
# 위와 같은 방식으로 했을 때 완전하지 않은 코드
a = [9, 99]

l = [[1, 2, a], [4, 5, 6]]
ll = [i[:] for i in l]
a[0] = 10000
print(l)
print(ll)

[[1, 2, [10000, 99]], [4, 5, 6]]
[[1, 2, [10000, 99]], [4, 5, 6]]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

l = [a, b]
ll = [a, b]
lll = [[1, 2, 3], [4, 5, 6]]

print(id(l), id(ll))
print(id(l[0]), id(ll[0]))
print(id(l[0]), id(lll[0]))

133036834643456 133035992626304
133035989929856 133035989929856
133035989929856 133035991896640

In [ ]:
a = [9999, 9999, 9999]
b = copy.deepcopy(a)
c = copy.deepcopy(b)
print(a, b, c)

print(id(a[0]), id(b[0]), id(c[0]))

[9999, 9999, 9999] [9999, 9999, 9999] [9999, 9999, 9999]
133035989775920 133035989775920 133035989775920

In [ ]:
c = [9999, 9999, 9999]
id(c[0]), id(c[1]), id(c[2])
c[0] is c[1]

True

In [ ]:
test = [9999, 9998, 9999]
id(test[0]), id(test[1]), id(test[2])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(133035989772688, 133035989774736, 133035989772688)

In [ ]:
test = {'one':9999, 'two':9998, 'three':9999}
id(test['one']), id(test['two']), id(test['three'])
#같은 컨벤션 내에 지정된 숫자는 동일한 메모리에 저장

(133035989777552, 133035989770512, 133035989777552)

# Set(집합)

In [ ]:
# 1. 중복이 되지 않습니다.
# 2. 순서가 없습니다.
# 3. 교집합, 차집합, 합집합 등이 있습니다.

In [ ]:
set('hello')
s = {'licat', 'licat', 'licat', 'mura', 'binky'} # 게시물에 글쓴사람은 몇 사람이죠?
len(s)

3

In [ ]:
# 주의
t = {} # dict
t = () # tuple
t = (0) # int
t = (0,) # tuple
t = set() # set
type(t)
# t = tuple()
# type(t)

set

In [ ]:
# 합집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}
s | ss

{1, 2, 3, 4, 5, 6}

In [ ]:
# 교집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s & ss

{4}

In [ ]:
# 차집합
s = {1, 1, 1, 2, 3, 4, 4, 4}
ss = {4, 5, 6}

s - ss

{1, 2, 3}

In [ ]:
#불만인 것
s + ss
# 이게 왜 합집합이 아닌가??

In [ ]:
s.add(100)
s

{1, 2, 3, 4, 100}

In [ ]:
# s.reomove(1000) # error 있는 값만 해야 합니다.
s.discard(15400) # 에러가 나지 않는다.
s

{1, 2, 3, 4}

In [ ]:
자유게시판 = {'licat', 'licat', 'licat', 'mura', 'binky'}
게시판 = {'licat', 'licat', 'licat'}
set(게시판)

{'licat'}

# 리스트 컴프리헨션

In [ ]:
# 전통적인 방법
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = [i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    l.append(f'{i}입니다!')
l

['0입니다!',
 '1입니다!',
 '2입니다!',
 '3입니다!',
 '4입니다!',
 '5입니다!',
 '6입니다!',
 '7입니다!',
 '8입니다!',
 '9입니다!']

In [ ]:
l = [f'{i}입니다!' for i in range(10)]
l

['0입니다!',
 '1입니다!',
 '2입니다!',
 '3입니다!',
 '4입니다!',
 '5입니다!',
 '6입니다!',
 '7입니다!',
 '8입니다!',
 '9입니다!']

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
       l.append(f'{i} X {j} = {i * j}')
l

In [ ]:
l = [f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
l = [i for i in range(10)if i % 2 == 0]
l

[0, 2, 4, 6, 8]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    else:
        l.append(None)
l

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
# error가 나는 코드
# l = [i for i in range(10)if i % 2 == 0 else None]
# l

In [ ]:
l = [i if i % 2 == 0 else None for i in range(10)]
l

[0, None, 2, None, 4, None, 6, None, 8, None]