# 조건문

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if False:
    print('hello')

In [ ]:
if (True): #이렇게 괄호를 안해도 됩니다!
    print('hello')

hello

In [ ]:
if 10 and 9: # True나 False가 아니라 단락평가에 의해 9
    print('hello')

hello

In [ ]:
if 10:
    print('hello')

hello

In [ ]:
''
0
[]
{}
()
set

######

1
-1
' '
[10, 20]

In [ ]:
x = 5
y = 10
result = 'x is greater' if x > y else 'y is greater or equal'
print(result) # 출력: 'y is greater or equal'

y is greater or equal

In [ ]:
[i if i % 2 == 0 else None for i in range(10)]

[0, None, 2, None, 4, None, 6, None, 8, None]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
def f():
    return True

def ff():
    return 'hello'

if f() and ff:
    print('hello')

In [ ]:
# 성능에 영향을 끼침!
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

if f() or ff:
    print('hello')

hello

In [ ]:
# error가 나는 코드
def f():
    return True

def ff():
    x = 100 / 0 # error
    return 'hello'

# if ff() or f:
    print('hello')

In [ ]:
my_function = lambda x: '짝수' if x % 2 == 0 else '홀수'
my_function(21)

'홀수'

In [ ]:
x = -1
assert x > 0, '양수여야 한다'

AssertionError: ignored

In [ ]:
x = 10
assert x > 0, '양수여야 한다'

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm so...!
mom : i'm so...!
111000

In [ ]:
# if, elif, else는 한 묶음으로 만들어줍니다!

In [ ]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
if 90 > score >= 80:
    print('mom : i\'m happy!')
    money += 100000
if 80 >score >= 70:
    print('mom : i\'m so...!')
    money += 10000
if 70 >score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
mom : i'm...!
100000

In [ ]:
#위와 같이 하더라도 실행이 같지 않고
# 성능도 안 좋습니다.
# if 뒤를 다 검사해기 때문에 성능이 좋지 않다!
# 적절하게 묶는 것은 매우 중요한  포인트입니다.

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
# 간략해진 것 맞나요?
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF' and (movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스') and movie['평점'] >= 4.5 and movie['비용'] <= 20000:
    print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
                print('영화시청')

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if 구독중인ott():
        if movie['평점'] >= 4.5:
            if movie['비용'] <= 20000:
                print('영화시청')

영화시청

In [ ]:
# 지금 이 코드에서는 동일하게 작동하지만
# 아래와 같이 했을 때에는 문제가 발생합니다.
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.1 #변경
}

def 구독중인ott():
    # 사용자에게 문자 알림을 준다던지 하는 엑션이 있었다?
    return movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스'

if movie['장르'] == 'SF':
    if movie['평점'] >= 4.5:
        if movie['비용'] <= 20000:
            if 구독중인ott():
                print('영화시청')

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')

영화시청

In [ ]:
# if를 중첩해서 사용하기
movie = {
    '영화': '무빙',
    '장르': 'SF',
    '서비스': '디즈니',
    '비용': 15000,
    '평점': 4.9
}

if movie['장르'] == 'SF':
    if movie['서비스'] == '디즈니' or movie['서비스'] == '넷플릭스':
        if movie['평점'] >= 4.5 and movie['비용'] <= 20000:
            print('영화시청')
    else:
        print(movie['서비스'] + ' 구독하기!')

영화시청

# match

In [ ]:
text = 'Hello World'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 출력 'No Match'

No Match

In [ ]:
text = 'Hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
    case _:
        print('No Match') # 출력 'Hello'

Hello

In [ ]:
text = 'hello'
match text:
    case 'Hello':
        print('Hello')
    case 'World':
        print('World')
print('end')

end

In [ ]:
# 작동하지 않는 코드입니다. JavaScript와 같은 곳에서는 아래와 같은 형식으로 사용하곤 합니다.
text = 'Hello'
match text:
    case 'Hello':
   # case 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
# 작동하지 않는다
text = 'Hello'
match text:
    case 'Hello' and 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
# 작동하지 않는다
text = 'Hello'
match text:
    case 'Hello' or 'World':
        print('World')
    case _:
        print('No Match')

In [ ]:
text = 'Hello'
match text:
    case 'Hello' | 'World':
        print('World')
    case _:
        print('No Match')

World

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case 3 | 4:
            print('Three or Four')
        case _ if i > 10:
            print('Greater than ten')
        case _:
            print('Other')

test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Three or Four
test(4) # 출력: Three or Four
test(5) # 출력: Other
test(15) # 출력: Greater than ten

One
Two
Three or Four
Three or Four
Other
Greater than ten

In [ ]:
def test(i):
    match i:
        case 1:
            print('One')
        case 2:
            print('Two')
        case _:
            if i > 2:
                print('Greater than two')
            else:
                print('Less than or equal to two')
test(1) # 출력: One
test(2) # 출력: Two
test(3) # 출력: Greater than two
test(4) # 출력: Greater than two

In [ ]:
# 문제 match를 사용하여 아래 코드를 완성해주세요.

def attack(attack_type, damage):
    match attack_type:
        case '물리공격' | '마법공격':
            print(f'{damage}의 데미지 입혔습니다')
        case '정신공격':
            print(f'{damage}ms 만큼 상대방이 혼란을 느낍니다.')


attack('정신공격', 500) # 물리공격, # 마법공격, # 정신공격

# 각 공격에 따라 아래의 값이 출력되어야 합니다.
# 물리공격, 마법공격 : '100의 데미지 입혔습니다'
# 정신공격: '100ms 만큼 상대방이 혼란을 느낍니다.'

500ms 만큼 상대방이 혼란을 느낍니다.

# 반복문

In [ ]:
for x in 'hello': # 순화 가능한 객체가 들어갑니다
	print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [ ]:
for x in (1,2,3,4,5):
	print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k in d:
    print(k)

하나
둘
셋

In [ ]:
d = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for k, v in d.items():
    print(f'{k} : {v}')

하나 : one
둘 : two
셋 : three

In [ ]:
for k in d:
    print(k, ': ', d[k], sep='', end=', ')

하나: one, 둘: two, 셋: three,

In [ ]:
# __iter__ 이 매직메서드가 없다? for문이 안된다! 순화가능한 객체가 아니다. 있다? for문이 된다! 순화가능한 객체이다!

In [ ]:
# 1부터 시작해서 5까지의 값이 x에는 어떻게 들어가는 것일까요?
x = iter('hello')
print(x)

<str_iterator object at 0x7c2d79884a90>

In [ ]:
print(next(x))

h

In [ ]:
print(next(x))

e

In [ ]:
# 더 만들지 않고 여기서만 실행 하겠습니다.
print(next(x)) # 계속 실행해서 hello가 다 출력되면 Stopliteration error

l

In [ ]:
x = 'hello'
y = x.__iter__()

In [ ]:
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())
print(y.__next__())

h
e
l
l
o

In [ ]:
# 1부터 100까지 더하는 코드
result = 0

for i in range(101):
    result += i

result

# 1부터 100까지 짝수를 더하는 코드
# 권장하지 않는 코드(100번 돌아야 하고, if문도 봐야하고)
result = 0

for i in range(101):
    if i % 2 == 0:
        result += 1

result

# 권장하는 코드
# 순회도 반만 돌았고, if문도 없습니다.
result = 0

for i in range(0, 101, 2):
    result += 1

result

# 구구단 출력

for i in range(2, 10):
    for j in range(1, 10):
        print(i, j, i * j)


# 홀수들에 특이한 덧셈을 하고 싶습니다.
# 예를 들어 6이하의 특이한 덧셈을 한다면
# 1 + 3 이하의 수 + 5이하의 수 ...
# 1 + 1 + 2 + 3 + 1 + 2 + 3 + 4+ 5 이렇게 답이 나와야 합니다.
# 중첩 for를 조금 어렵게 표현
result = 0

for i in [range(2), range(4), range(6)]:
    for j in i:
        result += j

result

In [ ]:
# for는 중첩 2번 해야합니다.
# 다음과 같은 문자열이 있습니다.
# s = '135678'
# 이때 구구단 1단, 3단 , 5단, 6단, 7단 ,8단을 출력하는 코드를 만들어주세여요.

s = '135678'
for i in s:
    num = int(i)
    for j in range(1, 10):
        print(num, j, num * j)

# s = '135678'
# for i in s:
#     for j in range(1, 10):
#         print(i, j, int(i)*j)

1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72

In [ ]:
# 심화문제
# 특이한 구구단이 있다.
# [2, 3, 6]이 있었을 때 아래와 같이 출력되어야 한다.
# 2단, 3단, 6을 출력하고
# 곱해지는 수는 이에 [2, 3, 6]에 1씩을 더한
# [3, 4, 7]이 각각 곱해져야 합니다.
'''
2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42
'''

s = [2, 3, 6]
for i in s:
    for j in s:
        print(f'{i} X {(j + 1)} = {i * (j + 1)}')

2 X 3 = 6
2 X 4 = 8
2 X 7 = 14
3 X 3 = 9
3 X 4 = 12
3 X 7 = 21
6 X 3 = 18
6 X 4 = 24
6 X 7 = 42

In [ ]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [ ]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [ ]:
# 실행시키면 런타임 다시 시작해야 합니다.
# l = [1, 2]
# for i in l:
#     l.append(3)
#     print(i) # 1, 2, 3, 3, 3, 3, 3, 3 ...

s = 'hello'
for i in s: # 순회가 정상적으로 됩니다.
    s += '!'
    print(i)
    print(s)

d = {'one': '하나'}
for i in d: # RuntimeError: dictionary changed size during iteration
    d.update({i+d[i]:None})
    print(d)

In [ ]:
# while True :
# 	print('무한 반복 중...')

In [ ]:
# 이런 코드는 OS에서 사용하거나
# 쉘 만들 때 사용합니다.
while True:
    userinput = input('>')
    if userinput == 'pwd':
        print('현재 위치 출력')
    elif userinput == 'dir' or userinput == 'ls':
        print('현재 폴더의 폴더와 파일명 출력')
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

>exit
안녕히가세요.

In [ ]:
# .py파일로 작성해서 실행해보세요.
import os

while True:
    userinput = input('>')
    if userinput == 'pwd':
        # print('현재 위치 출력')
        # print('\\'.join(__file__.split('\\')[:-1]))
        print(os.getcwd())
    elif userinput == 'dir' or userinput == 'ls':
        # print('현재 폴더에 폴더와 파일명 출력')
        print(os.listdir(os.getcwd()))
    elif userinput == 'exit':
        print('안녕히가세요.')
        break

In [ ]:
import random

answer = random.randint(1, 1000)
while True:
    userinput = int(input('숫자를 입력해 주세요.'))
    if userinput > answer:
        print('Down')
    elif userinput < answer:
        print('Up')
    else:
        print('축하합니다! 맞추셨어요!')
        break

숫자를 입력해 주세요.500
Up
숫자를 입력해 주세요.300
Up
숫자를 입력해 주세요.100
Up
숫자를 입력해 주세요.700
Up
숫자를 입력해 주세요.800
Up
숫자를 입력해 주세요.900
Up
숫자를 입력해 주세요.950
Down
숫자를 입력해 주세요.925
Down
숫자를 입력해 주세요.920
Down
숫자를 입력해 주세요.910
Down
숫자를 입력해 주세요.905
Up
숫자를 입력해 주세요.906
Up
숫자를 입력해 주세요.907
축하합니다! 맞추셨어요!

In [ ]:
import random

s = [1, 2, 3, 4, 5]
random.shuffle(s)
s

[3, 4, 1, 2, 5]

In [ ]:
x = (n := 10) * 2
print(x)  # 출력: 20
print(n)  # 출력: 10

20
10

In [ ]:
import random

while (x := random.randint(0, 10)) != 7:
    print(x)

10
2
6
0

# break, continue, pass 비교

In [ ]:
x = 0
while x < 10:
    if x == 5:
        break
    x += 1
print(x)

5

In [ ]:
i = 2
while i < 10:
    j = 1
    while j < 10:
        print(f'{i} X {j} = {i*j}')
        j += 1
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# 무한반복입니다!
# x = 0
# while x < 10:
#     print(x)
#     if x == 5:
#         continue
#     x += 1

In [ ]:
x = 0
while x < 10:
    x += 1
    if x == 5:
        continue
    print(x)

1
2
3
4
6
7
8
9
10

In [ ]:
# break는 바로 위에 부모만 탈출합니다.
# continue는 아래 코드를 실행하지 않고 다음 루프로 넘어갑니다.
# pass는 지나칠 뿐입니다.
# 아래에서 pass는 코드가 에러가 나지 않게만 합니다.

x = 0
while x < 10:
    x += 1
    if x == 5:
        pass
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 2
while i < 10:
    j = 1 # 별표 5개! while문은 중첩해서 사용할 때 초기화가 필요합니다!
    while j < 10:
        if j == 3:
            break
        print(f'{i} X {j} = {i*j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
3 X 1 = 3
3 X 2 = 6
4 X 1 = 4
4 X 2 = 8
5 X 1 = 5
5 X 2 = 10
6 X 1 = 6
6 X 2 = 12
7 X 1 = 7
7 X 2 = 14
8 X 1 = 8
8 X 2 = 16
9 X 1 = 9
9 X 2 = 18

In [ ]:
try:
    for i in range(2, 10):
        for j in range(1, 10):
            if i * j > 6:
                raise StopIteration
            print(f'{i} X {j} = {i*j}')
except StopIteration:
    print("Done")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
Done

In [ ]:
# else라고 하지 않고 다른 키워드로 해야한다는 주장이 있었다!
for i in range(1, 5):
    print(i)
else:
    print('정상 종료')

1
2
3
4
정상 종료

In [ ]:
for i in range(1, 5):
    print(i)
    if i == 3:
        break
else:
    print('정상 종료')

1
2
3

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1
else:
    print('정상종료')

0
1
2
3
4
5
6
7
8
9
정상종료

In [ ]:
x = 0
while x < 10:
    print(x)
    if x == 3:
        break
    x += 1
else:
    print('정상 종료')

0
1
2
3

# 연습문제

In [ ]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]
# 문제 1번: 평균 나이를 출력해주세요.
# result = 0
# for i in data:
#     result += int(i['age'])
# print(f'평균나이: {result/len(data)}')

ages = (map(lambda x: x['age'], data))
ages = map(int, ages)
ages = list(ages) #map은 한번 순회가 돌면 다시 순회가 불가능합니다.
ages
sum(ages) / len(ages)
# 문제 2번: 남녀 성비를 출력해주세요.
male = 0
female = 0
for i in range(len(data)):
    if (data[i]['gender']) == '남성':
        male += 1
    else:
        female =+ 1
print(f'{male}:{female}')

2:1

In [ ]:
# 문제 2번: 남녀 성비를 출력해주세요.
gender = list(map(lambda x: x['gender'], data))
total = len(gender)
man = gender.count('남성')
woman = total - man
man/total * 100, woman/total * 100

(40.0, 60.0)

# 클래스

In [ ]:
class Car: # 차에 설계 도면 또는 차 공장입니다. => 클래스
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

#테슬라 공장에서 막 찍혀서 나온 자동차!
# 3대! modelx, y, z => 인스턴스
modelx = Car() # 인스턴스 = 클래스()
modely = Car()
models = Car()

# Car.max_speed #modelx의 속도를 보고싶으면 modelx.max_speed 를 찍어야 합니다.

# models를 제가 구매했습니다.

print(models.car_gear[1])
models.start()
print(models.car_gear[0])
models.stop()

D
차가 출발합니다!
P
차가 멈췄습니다!

In [ ]:
l = [1, 2, 3]
type(l)
dir(i)
l.append(3)
l

[1, 2, 3, 3]

In [ ]:
# int, float, str 과 같은 새로운 Car라는 type을 만들고 있는 것입니다.

In [ ]:
print(type(models))
print(dir(models))

<class '__main__.Car'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'car_gear', 'max_people', 'max_speed', 'start', 'stop']

In [ ]:
x = int(3)
# 그럼 x는 무엇일까요?
# int라는 class에 인스턴스

In [ ]:
# x = int(3) 여기서 넣었던 3이라는 값이 어떻게 처리되는지 확인
class Car:
    max_speed = 300
    max_people = 5
    car_gear = ['P', 'D', 'R', 'N']

    def __init__(self, name): # 클래스로 인스턴스를 만들 때 호출!
        self.name = name

    def start(self):
        print('차가 출발합니다!')

    def stop(self):
        print('차가 멈췄습니다!')

modelx = Car('Tesla Model X') # x = int(3) 여기서 넣었던 3이 __init__ 메직메서드에서 처리!
modelx.name

'Tesla Model X'

In [ ]:
# 실제 게임 코드
class Character:
    def __init__(self, name, role, hp, mp, power):
        self.name = name
        self.role = role
        self.hp = hp
        self.mp = mp
        self.power = power

    def attack(self):
        print('공격!')

    def defence(self):
        print('방어!')

hero_ironman = Character('아이언맨', '히어로', 100, 100, 100)
villain_thanos = Character('타노스', '빌런', 100, 100, 200)
# 여러 등장인물을 이런식으로 코딩할 수 있습니다.

In [ ]:
class Person:
    name = 'jun' # 클래스 변수
    def __init__(self, name):
        self.name = name # 인스턴스 변수

hojun = Person('hojun')
hojun.name, Person.name

('hojun', 'jun')

In [ ]:
class Car:
    max_speed = 300

    def __init__(self, name):
        self.name = name

    def start(self):
        print('차가 출발합니다!')

modelx = Car('Tesla Model X')
modelx.name

'Tesla Model X'

In [ ]:
modelx.hello = 'hello world'

In [ ]:
modelx.hello

'hello world'

In [ ]:
def hello():
    print('hello world')

In [ ]:
hello.hi = 'hi, world'

In [ ]:
hello.hi

'hi, world'

In [ ]:
# 인스턴스 변수 선언을 허락하고 있지 않습니다.
# s = 10
# s.hi = 'hi, world'
# s.hi

AttributeError: ignored

In [ ]:
# s = 'hello'
# s.hi = 'hi, world'
# s.hi

AttributeError: ignored

In [ ]:
# s = [10, 20, 30]
# s.hi = 'hi, world'
# s.hi

AttributeError: ignored

In [ ]:
# s = {'one': 1}
# s.hi = 'hi, world'
# s.hi

AttributeError: ignored

In [ ]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.

class Cordinate:

    def __init__(self, x, y):
        self.x = x
        self.y = y
    def __add__(self, other):
        #print(self.x, self.y)
        return [(self.x + other.x), (self.y + other.y)]

dot1 = Cordinate(10, 20)
dot2 = Cordinate(20, 30)

dot1 + dot2

[30, 50]

In [ ]:
# 저라면 Car에서는 __add__를 구현하지 않았을 겁니다.
class Point:

    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Point((self.x + other.x), (self.y + other.y))

    def distance(self, other):
        dx = self.x - other.x
        dy = self.y - other.y
        return (dx**2 + dy**2)**0.5

dot1 = Point(10, 20)
dot2 = Point(20, 30)

dot3 = dot1 + dot2
dot3.x, dot3.y
dot3.distance(dot1)

36.05551275463989

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1 + m2

[30, 50, 70]

In [ ]:
class Matrix:

    def __init__(self, value):
        self.value = value

    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result

    def __mul__(self, other):
        if isinstance(other, int):
            return [i *other for i in self.value]
        raise TypeError('int 형 외에 곱을 허락하지 않습니다!')

m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])

m1*3
# m1 * [1, 2, 3]

[30, 60, 90]