In [280]:
# 주석

In [7]:
# 이것은 주석임
print('hello world') # 이것도 주석임.
print('hi world')

hello world
hi world

In [8]:
'''
이것도 주석임
이렇게 여러줄 주석을 넣을 수 있음.
'''
print("hello world")

hello world

In [9]:
"""
이것도 주석임.
이렇게 여러줄 주석을 넣을 수 있음.
"""
print("hello world")

hello world

In [11]:
# 입력과 출력

In [14]:
'''x = input('입력해 주세요') 문자열로 받는다'''
x = 'hello'

In [16]:
print(x)

hello

In [21]:
print(x, x, sep='')

hellohello

In [28]:
print('010', '1234', '5678', sep='!')

010!1234!5678

In [65]:
print('hello', 'world', end='! \n')
print('hello world', end='~ ')

hello world
hello world

In [42]:
'변수'

'변수'

In [46]:
x = 10
y = x
z = y 

'''정답
x -> 10
y -> 10
z -> 10   y = x, z = y가 x랑 값이 같다고 같은것이 아니라 10이라는 값을 가리키는게 똑같다.
'''
print(id(x), id(y), id(z))

140735830877256 140735830877256 140735830877256

In [48]:
x = 10
y = x
z = y
y = 20

'''정답
z ┐
x -> 10
y -> 20     x, y, z가 10을 가리키다가 y가 값이 바뀌어도 z의 값은 그대로 10을 가리킨다.
'''
print(id(x), id(y), id(z))

140735830877256 140735830877576 140735830877256

In [62]:
'''코드
Python의 경우 보통 스네이크 표기법으로 변수를 만듬.'''
col_sum = 10
'''_는 사용하지 않는 변수에 할당함.'''
for _ in range(5):   #코드의 가독성을 올려줌.
    print('hello')

hello
hello
hello
hello
hello

In [68]:
x = 10
y = '10'
print(type(x), type(y))

<class 'int'> <class 'str'>

In [71]:
int(10) + int(10)
str(10) + str(10)

'1010'

In [73]:
class str(str):
  def __add__(self, other):
    return 'hello'

In [74]:
str(10) + str(20)

'hello'

In [76]:
'''정수 자료형(int)'''

'''정수는 int, 소수점은 float, '숫자'는 str'''

'정수 자료형(int)'

In [79]:
x = 10
y = -5
z = 0
print(type(x), type(y), type(z))

<class 'int'> <class 'int'> <class 'int'>

In [80]:
''' 진수: 수를 표현하는 방법
2진수: 0 1
8진수: 0 1 2 3 4 5 6 7
16진수: 0 1 2 3 4 5 6 7 8 9 a b c d e f

10진수 711 = 7 * 10^2 + 3 * 10^1 + 1 * 10^0
2진수 110 = 1 * 2^2 + 1 * 2^1 + 0 * 2^0
10진수 15를 2진수로 표현하면?

쉽게 계산하는 법
10진수 15를 2진수로 표현하면?
10000 - 1 == 1111'''

' 진수: 수를 표현하는 방법\n2진수: 0 1\n8진수: 0 1 2 3 4 5 6 7\n16진수: 0 1 2 3 4 5 6 7 8 9 a b c d e f\n\n10진수 711 = 7 * 10^2 + 3 * 10^1 + 1 * 10^0\n2진수 110 = 1 * 2^2 + 1 * 2^1 + 0 * 2^0\n10진수 15를 2진수로 표현하면?\n\n쉽게 계산하는 법\n10진수 15를 2진수로 표현하면?\n10000 - 1 == 1111'

In [83]:
'''2진수(binary)'''
x = 0b110
print(x)
print(type(x))

6
<class 'int'>

In [84]:
'''8진수(octal)'''
x = 0o110
print(x)
print(type(x))

72
<class 'int'>

In [85]:
'''16진수(hexadeciaml)'''
x = 0x110
print(x)
print(type(x))

272
<class 'int'>

In [87]:
bin(5)

'0b101'

In [89]:
oct(15)

'0o17'

In [90]:
hex(15)

'0xf'

In [93]:
'''매우 중요! 새로운 자료형을 만났을 때 2개를 꼭 해보기!'''
x = 10
print(type(x)) # 검색 키워드
print(dir(x)) # 대략적인 속성을 알 수 있음.

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [95]:
'''메직 메서드: 이 타입에 속성을 정의함.'''
abs(-5) # '__abs__'
5 + 5   # '__add__'
5 and 5 # '__and__'
bool(5) # '__bool__'
5 == 5  # '__eq__'

'''메서드: 이 타입에서 변수를 다룰 수 있는 여러 기능을 제공합니다.
'as_integer_ratio',
'bit_count',
'bit_length',
'conjugate',
'denominator',
'from_bytes',
'imag',
'numerator',
'real',
'to_bytes'''

"메서드: 이 타입에서 변수를 다룰 수 있는 여러 기능을 제공합니다.\n'as_integer_ratio',\n'bit_count',\n'bit_length',\n'conjugate',\n'denominator',\n'from_bytes',\n'imag',\n'numerator',\n'real',\n'to_bytes"

In [96]:
x = 5
x.bit_count() # 잘 안사용함.
# 10001, 2진수로 표현하면 1이 2개이다.

2

In [97]:
'''정수의 메모리 미리 적재!
-5 ~ 256'''
x = 256
y = 256

print(id(x), id(y))

140735830885128 140735830885128

In [99]:
'''문제 1'''
x = 256
y = 256
z = x

'''정답
x => 256
z ┘
y =>256
'''

print(id(x), id(y), id(z))

140735830885128 140735830885128 140735830885128

In [100]:
'''실수 자료형'''

'실수 자료형'

In [102]:
'''산술연산'''
x = 10.0
y = 2
result = x + y
print(result)
print(type(result))

12.0
<class 'float'>

In [107]:
'''float의 특수값
이 특수값은 사용을 하니 기억 해야함!
보통 정렬과 같은 파트에서 초깃값으로 사용을 많이 함!'''

float('inf') > 9999999999999999999999999999999
#float('inf') < -9999999999999999999999999999999

True

In [110]:
print(2e3) # 지수표현. float형
print(2E3)

2 * (10 ** 3) # int형

2000.0
2000.0

2000

In [112]:
x = 10.0
print(dir(x))

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [113]:
'''메서드
'conjugate'
'fromhex'
'hex'
'imag'
is_integer'
'real' '''

"메서드\n'conjugate'\n'fromhex'\n'hex'\n'imag'\nis_integer'\n'real' "

In [114]:
'''문자열'''

'문자열'

In [117]:
x = 'hello world hello world'
y = "hello world"
z = '''hello world''' #여러줄 가능
k = """hello world
hello world""" #여러줄 가능

print(x)

hello world hello world

In [118]:
a = r'hello \n world' # r은 raw 날것에 의미를 가지고 있음. 문자열을 그대로 보여줌!
print(a)

hello \n world

In [126]:
i = '''안녕하세요.
저는 강경모라고 합니다.
파이썬 재미있어요!'''
i # 이스케이프 문자가 처리안되어 출력 - 즉 줄바꿈 문자가 그대로 출력
print(i) # 이스케이프 문자가 처리되어 출력 - 줄바꿈 문자는 안보이게 출력

안녕하세요.
저는 강경모라고 합니다.
파이썬 재미있어요!

In [130]:
'''문자열에 연산'''
x = 'hello'
y = 'korea'

print(x + y)

hellokorea

In [131]:
x = 'hi'
print(x * 3)

hihihi

In [132]:
'''이런 연산들은 문자열에서는 문제가 없지만
다른 자료형들은 아래와 같은 문제가 생긴다.'''
x = [[100] * 3, [10] * 2]
x

[[100, 100, 100], [10, 10]]

In [133]:
x[0][0] = 1
x

[[1, 100, 100], [10, 10]]

In [134]:
x = [[[] * 2] * 3]

In [ ]:
'''문자열 인덱싱'''

In [135]:
s = 'hello world'
s[0]

'h'

In [136]:
s[-1]

'd'

In [137]:
s[-11]

'h'

In [138]:
s = 'Python honey jam'
# s[strat:stop:step]
#':step'은 생략 가능
#start와 stop은 숫자만 생략 가능
# 중요 : slicing은 error를 발생시키지 않는다.

In [151]:
s[0:5] #'Pytho' :step은 생략
s[:5] # 숫자 0을 생략.
s[6:] #' honey jam', stop, step 생략
s[0:5:2] #'Pto'
s[::-1] #-1을 하면 반대로.
s[5:0:-1] #'nohty' 5부터 1까지이기 때문에 'nohty'로 나온다.

'nohty'

In [158]:
s = 'Python.png'
# 자주 쓰지만 헷갈리는것
#문제1 : .png를 잘라내서 없애 주세요.
s[:6] # s[:-4]
#문제2 : png만 잘라내 주세요.
s[:7] # s[-3]

'Python.'

In [163]:
s = 'HelloWorld'
s[:-4]
s[:5]

'Hello'

In [165]:
s = 'leehojun.png'
s[:9]

'leehojun.'

In [167]:
x = [10, 20, 30]
y = x
print(id(x), id(y))

x = [10, 20, 30]
y = x[:]
print(id(x), id(y))

2738347028480 2738347028480
2738347029056 2738347020800

In [ ]:
'''문자열에 메서드'''

In [168]:
s = 'weniv CEO licat'

In [170]:
s.lower() # 문자열을 모두 소문자로
s.upper() # 문자열을 모두 대문자로

'WENIV CEO LICAT'

In [177]:
s.find('CEO') # find는 오류를 발생 시키지 않고 -1로 나옴.
s.index('CEO') # index는 오류를 나타내줌.

6

In [181]:
s = 'weniv CEO licat'
s.count('i') # 문자열이나 숫자를 셀 때 사용. 갯수를 알려줌

2

In [184]:
s = '3693693693691231236719'
s.count('3') + s.count('6') + s.count('9')
print(type(s))

<class 'str'>

In [185]:
s = '    weniv CEO licat     '
s.strip() #양쪽 공백을 제거하는 method

'weniv CEO licat'

In [186]:
'    ,!!  hello world   '.strip(' ,!')
#양쪽의 공백과 ',!'을 제거해주는 method

'hello world'

In [188]:
s = 'Python World'
s.replace('Python', 'Hello')

'Hello World'

In [189]:
'Python World honey jam'.split(' ')

['Python', 'World', 'honey', 'jam']

In [192]:
'Python-World-honey-jam'.split('-')

['Python', 'World', 'honey', 'jam']

In [196]:
s= ['Python', 'World', 'honey', 'jam']
('-').join(s)

'Python-World-honey-jam'

In [205]:
s = '010 1000 1000'
'-'.join(s.split())

'010-1000-1000'

In [214]:
name = 'kanggyeongmo'
age = 26
s = 90

print('제 이름은 {}이고, 나이는 {} 입니다.'.format(name, age))

제 이름은 kanggyeongmo이고, 나이는 26 입니다.

In [216]:
name = 'kanggyeongmo'
age = 26
s = 90

print('제 이름은 {2}이고, 나이는 {0} 입니다.'.format(name, age, s))

제 이름은 90이고, 나이는 kanggyeongmo 입니다.

In [219]:
name = 'kanggyeongmo'
age = 26

print(f'제이름은 {name}이고, 나이는 {age} 입니다.')

제이름은 kanggyeongmo이고, 나이는 26 입니다.

In [220]:
'''여기서 al은 알파벳, num은 숫자인데 알파벳이 영어만 가르키는게 아니고 한글이나 일본어, 중국어 등도 True로 나타낸다.'''
'abcd1234'.isalnum() # 출력: True
'안녕하세요'.isalnum() # 출력: True
'こんにちは'.isalnum() # 출력: True
'你好'.isalnum() # 출력: True

True

In [222]:
'''digit는 숫자로 문자열에 숫자로만 이루어져 있는지 확인한다.'''
s = '123'
s.isdigit() # 문자열이 숫자로만 이루어져 있는지 확인하는 method

True

In [223]:
'''문자열이 알파벳으로만 이루어져 있는지 확인하는데 위에 alnum과는 다르게 숫자가 있으면 False다. 그리고 한글이나 일본어, 중국어 등도 True로 나타낸다.'''
print('abcd1234'.isalpha()) # 출력: False
print('안녕하세요'.isalpha()) # 출력: True
print('こんにちは'.isalpha()) # 출력: True
print('你好'.isalpha()) # 출력: True

False
True
True
True

In [225]:
'''아스키 코드로 이루어져있는지 확인'''
print('안녕'.isascii()) # 출력: False
print('!@ ()+'.isascii()) # 출력: True
print('hello'.isascii()) # 출력: True
print('hello world'.isascii()) # 출력: True

False
True
True
True

In [227]:
s = 'Python'
s.ljust(10, '-') #문자열을 지정한 길이로 맞추고, 오른쪽을 '-'로 채우는 method

'Python----'

In [233]:
'''문자열을 10글자로 하는데 10글자로 채울 때 s는 가운데에 배치시키고 나머지 10글자를 만들기위해 '-'를 출력한다.'''
s.center(10,'-')

'--Python--'

In [241]:
s.zfill(10)

'0000Python'

In [246]:
result = 'Python'.zfill(10) + '.png'
print(result)

0000Python.png

In [277]:
년 = '23'
월 = '9'
일 = '10'

오늘날짜 = f'{년}/{월}/{일}'
print(오늘날짜)
오늘날짜 = f'{년}년/{월.zfill(2)}월/{일.zfill(2)}일'
print(오늘날짜)

23/9/10
23/09/10

In [266]:
'''변경하는 문자와 변경할려는 문자의 길이가 같아아함!'''
table = str.maketrans('o', 'H')
'Hello World'.translate(table)

'HellH WHrld'

In [276]:
table = str.maketrans('\t', '1','\n')
'weniv\n\n\nCEO\t\t\tlicat'.translate(table)

'wenivCEO111licat'

In [281]:
s = str(list(range(36712)))
s.count('3') + s.count('6') + s.count('9')

50447

In [283]:
'''문제1 문자열 s에 마지막에 있는 문자열을 2번 더 붙이는 코드를 작성해주세요.
예) s = 'jun'
정답) s = 'junnn' '''
s = 'jun'
a = s[-1]
print(s + a * 2)

junnn

In [284]:
'''문제2 대문자는 소문자로 치환하는 코드를 작성해주세요.
예)  s = 'Jun'
정답) s = 'jun' '''
s = 'Jun'
s.lower()

'jun'

In [288]:
'''문제3 'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요.
얘) s = 'hello_world123'
정답 s = 'hlloworl' 
'''
s = 'hello_world123'
a = str.maketrans('', '', 'abcde1234567890-_')
s.translate(a)

'hlloworl'