In [1]:
'''메서드 채이닝(Method Chaining)'''

'메서드 채이닝(Method Chaining)'

In [2]:
sentense = '  Hello, World!  '
result = sentense.strip().lower().replace('world', 'python')
# 1번스텝 : sentense.strip() == 'Hello, World!'
# 2번스텝 : 'Hello, World!'.lower == 'hello, world!'
# 3번스텝 : 'hello, world!'.replace('world', 'python') == 'hello, python!'
print(result)

hello, python!

In [4]:
'   ,!!  hello world   '.replace(' ', '').replace(',', '').replace('!', '')
# 1번스텝 : '   ,!!  hello world   '.replace(' ', '') == ',!!helloworld'
# 2번스텝 : ',!!helloworld'.replace(',', '') == '!!helloworld'
# 3번스텝 : '!!helloworld'.replace('!', '') == 'helloworld'

'helloworld'

In [6]:
'''백슬레쉬 (/)를 사용하여 개행을 할 수 있다.'''
sentense = '  Hello, World!  '
result = sentense\
.strip()\
.lower()\
.replace('world', 'python')
print(result)

# 개행을 사용하는 이유는 코드의 가독성?을 위해서다.

hello, python!

In [8]:
'''형변환'''

'형변환'

In [9]:
월급 = input('월급을 입력하세요:')
연봉 = int(월급) * 12 #str인 월급을 int로 변환하여 * 12 가 가능한것임!
print(연봉)

12000000

In [17]:
num = '123'
print(int(num), type(int(num))) # str타입인 '123'을 int로 변환!

<class 'str'>
123 <class 'int'>

In [18]:
s = 'hello'
print(type(s))

#s = int(s) # error 문자열은 int로 변환 X
print(type(s))

<class 'str'>
<class 'str'>

In [20]:
f = 3.14159
print(int(f), type(int(f)))  # float를 int로 변환!

3 <class 'int'>

In [21]:
true_int = int(True)  # bool을 int로 변환하여 True == 1, False == 0 인것을 볼 수 있음!
false_int = int(False)

print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [22]:
n = 123
print(type(n))

m = 123.4
print(type(n))

n = str(n)
print(type(n))

m = str(m)
print(type(m))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [23]:
'''bool형으로 형변환'''
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool(''))
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0))
print("bool(-1):", bool(-1))
print("bool(None):", bool(None))
print("bool([]):", bool([]))
print("bool(tuple()):", bool(tuple()))
print("bool({}):", bool({}))
print("bool(set()):", bool(set()))

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [25]:
'''float형으로 형변환'''
s = 10
print(float(s))

s = '10'
print(float(s))

s = '3.14'
print(float(s))

10.0
10.0
<class 'str'>
3.14

In [26]:
'''특수 float 형변환'''
infinity = float('inf')
neg_infinity = float('-inf')

In [31]:
10 / 1 # 정수와 실수의 나눗셈은 같은 경우 항상 float로 반환!

10.0

In [33]:
'''list형으로 형변환'''
s = '10'
print(list(s))

name = 'licat'
print(list(name))
# 정수형은 list로 변환 X!

['1', '0']
['l', 'i', 'c', 'a', 't']

In [34]:
data = [('name','licat'),('age',10)]
d = dict(data)
d

{'name': 'licat', 'age': 10}

In [36]:
s = 'weniv CEO licat'
print(set(s)) #중복을 허락하지 않고 순서가 없습니다.
print(len(set(s))) #중복을 제거한 상태로의 길이를 알려줍니다.
print(len(s))

{'O', 'w', 'E', 'c', 'v', 'l', 'e', 't', 'a', 'C', ' ', 'i', 'n'}
13
15

In [37]:
'''산술연산'''

'산술연산'

In [39]:
result = 5 + 3
print(result)

8

In [42]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)  # Hello World

Hello World

In [44]:
# 리스트의 곱셈
result = [1, 2, 3] * 2
print(result) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [50]:
a = 10
b = 2
c = a / b
d = a // b
print(a / b) # 결과 5.0
print(a // b) # 결과 5

type(c), type(d)

5.0
5

(float, int)

In [52]:
a = -5
b = 2
print(a / b) # 결과: -2.5
print(a // b) # 결과: -3 # //는 반내림이라? 생각하면된다!

-2.5
-3

In [53]:
# float 형으로 반환할 떄 아래처럼 소숫점 2번째 자리까지 출력하는 구문을 자주 사용!
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33   2f에서 2의 숫자를 바꾸면 소숫점이 늘어나거나 줄어든다!

10 ÷ 3 = 3.33

In [56]:
10 % 2 == 0 # 홀수, 짝수 판별
365 % 10 == 0 # 1의 자리 반환 # False
365 % 10 == 5 # True

True

In [59]:
10 % 3.3 # 결과: 0.10000000000000053

1

In [61]:
(1000 % 331) / 100

0.07

In [63]:
'''비교연산자'''

'비교연산자'

In [64]:
print(5 == 5) # 결과: True
print(5 != 3) # 결과: True
print(3 < 5) # 결과: True
print(5 <= 5) # 결과: True
print(6 > 5)  # 결과: True
print(5 >= 5) # 결과: True

True
True
True
True
True
True

In [65]:
print('apple' < 'banana') # 결과: True, 맨 앞글자인 a 와 b 를 아스키코드로 비교한다.

True

In [66]:
print('apple' < 'applee') # 결과: True, 앞 글자가 같으면 앞에서부터 그 뒤로 비교하면서 비교한다. 즉, 문자열이 더 길어서 True다.

True

In [67]:
print([10, 20, 30, 35] < [10, 20, 30, 40]) # True
print([10, 20, 35] < [10, 20, 30, 40]) #False
# 문자열이 더 길더라도 앞에서 부터 10, 20을 비교하다가 35와 30에서 35가 더크니 False

True
False

In [68]:
x = 10
print(5 < x < 15) # 결과: True

True

In [69]:
x = 20
print(5 < x < 11) # 결과: False

False

In [73]:
'''논리연산자'''
# and(곱), or(합), not(부정)
x = True # 1
y = False # 0

print(True and False) # False
print(True and True) # True
print(True or False) # True
print(True or True) # True

False
True
True
True

In [74]:
for i in range(101):
  if i % 3 and i % 5 == 0:
    print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [75]:
for i in range(101):
    if i % 3 == 0:
        if i % 5 == 0:
            print(i)

for i in range(101):
    if i % 3 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90
5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [71]:
print(True or True)   # 결과: True
print(True or False)  # 결과: True
print(False or True)  # 결과: True
print(False or False) # 결과: False

True
True
True
False

In [72]:
print(not True)  # 결과: False
print(not False) # 결과: True

False
True

In [76]:
a = True
b = False

a and b and ccc and ddd   #이미 and b 에서 False가 나오니 그 뒤에 ccc, ddd 아무거나 와도 False다!

False

In [77]:
a = True
b = False
c = False

a or b and c

True

In [78]:
a = True
b = False
c = False
d = True

a and b or c and d

False

In [79]:
a = True
b = False
c = False
d = True

a and not b or c and d # ((a and (not b)) or (c and d))

True

In [80]:
a = 'hello'
b = 'world'

a or b

'hello'

In [81]:
a = ''
b = 'world'

a or b

'world'

In [82]:
username = ''

username = username or '이름을 정하지 않았습니다.'
username
# ''과 이름을 정하지 않았습니다 라는 값이 있으니 이름을 정하지 않았습니다가 나온다.

'이름을 정하지 않았습니다.'

In [83]:
username = 'licat'

username = username or '이름을 정하지 않았습니다.'
username
# licat과 이름을 정하지 않았습니다 라는 값이 있지만 licat이 먼저 있으니 licat

'licat'

In [84]:
#'연산자' + '='
numA = 10
numB = 20

numA += numB

print("numA:", numA) # numA와 numB가 더해져서 numA는 30이 됩니다.
print("numB:", numB) # numB는 변화가 없습니다.

numA: 30
numB: 20

In [88]:
a = 10000
b = 10000

a is b # 메모리 값이 다르기 때문에 False, True로 할려면 is not

False

In [86]:
id(a), id(b)

(2591967566096, 2591967566032)

In [91]:
a = [1, 2, 3]
b = [1, 2, 3]

a is b

#id(a), id(b)

False

In [92]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a

print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

In [94]:
_ = 123
_

123

In [96]:
#문자를 사용자에게 입력받고, 그 문자를 2번 출력하는 프로그램을 만들어주세요. 예를 들어 ‘abc’를 입력받는다면 ‘abcabc’를 출력해야 합니다.
user_input = input()
user_input * 2

'abcabc'

In [102]:
n = 1234567890123123123
len(set(str(n)))

print(len(set(str(n))))

10

In [104]:
s = 'jun'
# 출력값: 'junnn'
s = s + s[-1] * 2
print(s)

junnn

In [107]:
# 'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요. 문자열에 translate를 사용해주세요.
s = 'hello_world123'
# 출력값: 'hlloworl'
table = str.maketrans('','', 'abcde123-_')
s.translate(table)

'hlloworl'

In [123]:
# 확장자를 출력해주는 코드를 작성해주세요. 확장자는 png, jpeg, mp4 등입니다.
s = 'licat.jpeg'
# 출력값: 'jpeg'
s[::-1].split('.')[0][::-1]

'jpeg'

In [127]:
s = 'li.cat.png'
s[::-1].split('.')[0][::-1]
# 출력값: 'png'

'png'

In [ ]:
#1번
a = 100
(a > 100) and (a < 200) # False
(a > 100) or (a < 200) # true
(a >= 100) and (a <= 200) # true
(a >= 100) or (a <= 200) # true

In [134]:
b = 25
(b % 2 == 0) and (b % 5 == 0)
# 1 and 0 == False

False

In [138]:
# 변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요
c = 1000
# 결과값은 10입니다.
print(c // 100)

10

In [143]:
#(심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
money = int(input())

n_5000 = money // 5000
money = money - n_5000 * 5000

n_1000 = money // 1000
money = money - n_1000 * 1000

n_500 = money // 500
money = money - n_500 * 500

n_100 = money // 100
money = money - n_100 * 100

print('5000원 지폐 개수:', n_5000)
print('1000원 지폐 개수:', n_1000)
print('500원 동전 개수:', n_500)
print('100원 지폐 개수:', n_100)

1000원 지폐 개수: 5
500원 동전 개수: 0
100원 동전 개수: 0