In [1]:
a, b, c, d, e = 'hello'
a # 출력: 0

'h'

In [2]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4

# 튜플 언패킹
a, b, c, d = packed_tuple
print(a)  # 출력: 1
print(b)  # 출력: 2

1
2

In [5]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

In [8]:
a = [1, 2, 3]
a = a * 3
a[0] = 1000
a

[1000, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
a = "010-1111-2222"
print(a.split('-'))

['010', '1111', '2222']

In [25]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [26]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [29]:
url = "http://sharebook.kr"
url.split('.')[1]

'kr'

In [32]:
lang = 'python'
lang[0]

'p'

In [34]:
string = 'abcdfe2a354a32a'
string.replace('a', 'A')

'Abcdfe2A354A32A'

In [36]:
string = 'abcd'
string.replace('b', 'B')
# print(string)

'aBcd'

In [37]:
a = "3"
b = "4"
print(a + b)

34

In [38]:
a = '-'
print(a * 80)

--------------------------------------------------------------------------------

In [40]:
t1 = 'python'
t2 = 'java'
print((t1, t2) * 4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')

In [41]:
t1 = "python"
t2 = "java"
t3 = t1 + t2
print(t3 * 4)

pythonjavapythonjavapythonjavapythonjava

In [42]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이:{age1}')
print(f'이름: {name2} 나이:{age2}')

이름: 김민수 나이:10
이름: 이철희 나이:13

In [44]:
상장주식수 = "5,969,782,550"
int(상장주식수.replace(',', ''))

5969782550

In [46]:
분기 = "2020/03(E) (IFRS연결)"
분기[0:7]

'2020/03'

In [47]:
data = "   삼성전자    "
data.strip()

'삼성전자'

In [48]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [49]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [50]:
'hello'.replace('h', 'H')

'Hello'

In [52]:
a = "hello world"
a.split()

['hello', 'world']

In [54]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [56]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [59]:
data = "039490     "
data.rstrip()

'039490'

In [60]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키키']

In [61]:
movie_rank.append('배트맨')

In [62]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [68]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[-2]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [71]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[-2]
del movie_rank[-2]
movie_rank

['닥터 스트레인지', '배트맨']

In [73]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang3 = lang1 + lang2
lang3

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [75]:
nums = [1, 2, 3, 4, 5, 6, 7]
max(nums)
min(nums)

1

In [76]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [79]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]

len(cook)

12

In [80]:
nums = [1, 2, 3, 4, 5]
sum(nums) / len(nums)

3.0

In [81]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [82]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [83]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [86]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [92]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [95]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest)

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [96]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [99]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [101]:
string = "삼성전자/LG전자/Naver"
print(string.split('/'))

['삼성전자', 'LG전자', 'Naver']

In [112]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort(reverse=True)
print(data)

[10, 9, 5, 4, 3, 2, 1]

In [113]:
my_variable = ('닥터 스트레인지',  '스플릿', '럭키')

In [116]:
a = (1,)
type(a)

tuple

In [118]:
list(('삼성전자', 'LG전자', 'SK Hynix'))

['삼성전자', 'LG전자', 'SK Hynix']

In [119]:
tuple(['삼성전자', 'LG전자', 'SK Hynix'])

('삼성전자', 'LG전자', 'SK Hynix')

In [123]:
a = tuple(range(2, 100, 2))
a

(2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98)

In [125]:
temp = {}
type(temp)

dict

In [126]:
ice = {'메로나':1000, '폴라포':1200, '빵빠레': 1800}

In [128]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [132]:
ice = {'메로나': 1000,
      '폴로포': 1200,
      '빵빠레': 1800,
      '죠스바': 1200,
      '월드콘': 1500}

ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [133]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100] }
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [143]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100] }
print(inventory['메로나'][0])

300

In [145]:
print(inventory['메로나'][1], '개')

20 개

In [148]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]

inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [151]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.keys())

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [152]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
list(icecream.values())

[1200, 1200, 1800, 1500, 1000]

In [153]:
sum(icecream.values())

6700

In [160]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update({'국화빵': 2000, '붕어싸만코': 2000})
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '국화빵': 2000,
 '붕어싸만코': 2000}