In [3]:
n = 1234567890123123123
len(set(str(n)))

10

In [7]:
s = 'jun'
print(s+ s[-1]*2)

junnn

In [9]:
s = 'hello_world123'
# 출력값: 'hlloworl'
arr = str.maketrans('', '', 'abcde123-_')
s.translate(arr)

'hlloworl'

In [16]:
s = 'licat.jpeg'
# 출력값: 'jpeg'
print(s.split('.')[1])
s = 'li.cat.png'
# 출력값: 'png'
s.split('.')[-1]

jpeg

'png'

In [17]:
#1번
a = 100
(a > 100) and (a < 200) # False
(a > 100) or (a < 200) # True
(a >= 100) and (a <= 200) # True
(a >= 100) or (a <= 200) # True

True

In [18]:
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [21]:
c = 1000
# 결과값은 10입니다.
c / 100

10.0

In [23]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	
# 함수1을 실행해서 'I' 가먼저 실행
# 함수2를 실행해서 'love' 를 실행 후 return으로 'python' 호출
a = 함수1()
print(a)

I
love
python

In [25]:
def plus(num1, num2):
	return num1 + num2
def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [34]:
a = 2
b = 3
def plus(x, y):
  return x + y
def minus(x, y):
  return x - y
def multi(x, y):
  return x * y

print('(2 + 3) * (2 - 3) =', multi(plus(a, b), minus(a, b)))

(2 + 3) * (2 - 3) = -5

In [66]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
s[sorted(data, key=lambda x: x)[0][0].find('licat'):]

'licat'

In [76]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 == 1, numbers))
  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [103]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

total = sum(student_score.values())
total / len(student_score)
max(student_score.items())
min(student_score.items())

('동해', 77)

In [107]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

final = []
for i in like:
  if i not in dislike:
    final.append(i)

final

['볶음밥', '라면', '치킨', '짜장면']

In [122]:
data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]

s = max(data, key=lambda x: x['수학'] + x['과학'])
print(s['이름'])

철수

In [128]:
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
grades.update({'Tom': grades.get('Tom', 0) + 5})
grades.update({'Jerry': grades.get('Jerry', 0) + 5})
grades.update({'Mickey': grades.get('Mickey', 0) + 5})
grades

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [151]:
s = "apple banana apple cherry banana cherry apple"
max(set(s.split()), key=s.count)

'apple'

In [156]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성하시오.
sum(국영수.values()) // len(국영수)

75

In [162]:
# 문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하시오.
국영수.update({'사회' : 70, '과학' : 85})
국영수
sum(국영수.values()) // len(국영수)

76

In [168]:
# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성하시오.
# 국영수['영어'] += 10
# 국영수['수학'] += 10
국영수.update({'사회': 70, '수학': 100, '영어': 48})
국영수

{'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}

In [172]:
max(국영수.get())

TypeError: get expected at least 1 argument, got 0