In [4]:
# a 와 b 를 더한 값과 a 와 b 를 뺀 값을 곱하는 함수를 만들어주세요.
a = 2
b = 3

def plus(a, b):
  return a + b

def minus(a, b):
  return a - b

def multiple(a, b):
  return plus(a, b) * minus(a, b)

multiple(a, b)

-5

In [7]:
x = 100
def f():
    x = 200
    return x

f()
print(x)

100

In [8]:
a = 10
def f():
  
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            a = 10000
            print(a)
        fff()
    ff()
f()           # a = 100 1000 10000
print(a)

100
1000
10000
10

In [9]:
n = 5
result = 1
for i in range(1, n+1):
    result *= i
result

120

In [10]:
a = 'python'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

I
love
python

In [11]:
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [24]:
a = 2
b = 3
def plus(a, b):
  return a + b

def minus(a, b):
  return a - b

def multiple(a, b):
  return plus(a, b) * minus(a, b)

print('(a + b) * (a - b) =', multiple(a, b))

(a + b) * (a - b) = -5

In [34]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
sorted(data)[0][0].split()[2]

'licat'

In [42]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 != 0, numbers)) # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [49]:
range(10)[1]

1

In [84]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
a = sorted(data, key = lambda x: x[1])[0][0]
a[a.find('licat'):]

'licat'

In [90]:
sum(list(range(101)))
# 문제 1: 짝수를 모두 더해주세요.
sum(list(range(101)[::2]))
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15]))
# (슬라이싱 2개 사용) 난이도가 있는 보너스 문제: 1부터 90까지의 짝수를 모두 더해주세요.
sum(list(range(101)[:91])[::2])

2070

In [74]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
sum(student_score.values())

402

In [76]:
sum(student_score.values()) / len(student_score.values())

80.4

In [91]:
max(student_score, key=student_score.get)

'홍의'

In [98]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

s = []

for i in like:
  if i not in dislike:
    s.append(i)

print(s)

['볶음밥', '라면', '치킨', '짜장면']

In [106]:
data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]
max(data, key=lambda x: x['수학'] + x['과학'])['이름']

'철수'

In [110]:
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
grades.update({'Tom': 92})
grades

{'Tom': 92, 'Jerry': 95, 'Mickey': 70}

In [121]:
s = "apple banana apple cherry banana cherry apple"
max(set(s.split()), key=s.count)

'apple'

In [124]:
for i in range(5, 0, -1):
    print('고등어 ', i, ' 개 남았습니다.')
else:
    print('고등어 다 팔렸습니다.')

고등어  5  개 남았습니다.
고등어  4  개 남았습니다.
고등어  3  개 남았습니다.
고등어  2  개 남았습니다.
고등어  1  개 남았습니다.
고등어 다 팔렸습니다.

In [128]:
# list(range(101))와 슬라이싱을 사용해 아래 문제를 풀어주세요.

# 문제 1: 짝수를 모두 더해주세요
# 문제 2: 3의 배수와 5의 배수를 모두 더해주세요.

sum(list(range(101)[::2]))
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - sum(list(range(101)[::15]))

2418

In [131]:
l = [1, 2, 10, 3, 4]
print(list(reversed(l)))
print(l)

[4, 3, 10, 2, 1]
[1, 2, 10, 3, 4]

In [132]:
data = [
  {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
  },
  {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
  },
  {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
  },
  {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
  },
  {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
  }
]
# 문제 1번: 평균 나이를 출력해주세요.
# 문제 2번: 남녀 성비를 출력해주세요.

In [149]:
s = list(map(lambda x: x['age'], data))
s = map(int, s)
s = list(s)
sum(s) / len(s)

37.2

In [154]:
male = 0
female = 0

for i in range(len(data)):
  if (data[i]['gender']) == '남성':
    male += 1
  else:
    female += 1

print(f'{male}:{female}')

2:3