In [1]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# 'Hi, there'

Hi, there.

In [1]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
    print("4")
# 1, 2, 4

1
2

In [3]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
# 3, 5

3
5

In [5]:
s = input()
print(s * 2)

In [8]:
#숫자를 입력하세요: 30
#40
s = int(input('숫자를 입력하세요: '))
print(s + 10)

40

In [10]:
s = input()

if int(s) % 2 == 0:
  print('짝수')
else:
  print('홀수')

홀수

'15'

In [14]:
s = int(input())
l = s + 20
if l < 255:
  print(l)
else:
  print(255)

255

In [21]:
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
s = int(input())
l = s - 20
if l > 255:
  print(255)
elif l < 0:
  print(0)
else:
  print(l)

255

In [23]:
fruit = ["사과", "포도", "홍시"]
user = input('좋아하는 과일은?')

if user in fruit:
  print('정답입니다.')
else:
  print('오답입니다.')

오답입니다.

In [25]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
s = input()
if s in warn_investment_list:
  print('투자 경고 종목 입니다.')
else:
  print('투자 경고 종목이 아닙니다.')

투자 경고 종목이 아닙니다.

In [28]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
s = input()
if s in fruit.keys():
  print('정답입니다.')
else:
  print('오답입니다')

정답입니다.

In [31]:
s = input()
if s.islower():
  print(s.upper())
else:
  print(s.lower())

A

In [32]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 사과 , 귤 , 수박

사과
귤
수박

In [36]:
for 변수 in (10, 20, 30):
  print(변수)

10
20
30

In [38]:
for 변수 in (10, 20, 30):
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [41]:
print("++++")
for 변수 in (10, 20, 30):
  print(변수)

++++
10
20
30

In [44]:
리스트 = [100, 200, 300]

for i in 리스트:
  print(i + 10)

110
210
310

In [46]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
  print('오늘의 메뉴:', i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [47]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
  print(len(i))

6
4
4

In [48]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i, len(i))

dog 3
cat 3
parrot 6

In [50]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0])

d
c
p

In [54]:
리스트 = [1, 2, 3]
for i in 리스트:
  print(i * len(리스트))

3
6
9

In [58]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
  print(i)

나
다
라

In [60]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
  print(i)

가
다

In [62]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
  print(i)

라
다
나
가

In [63]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
  if i < 0:
    print(i)

-20
-3

In [65]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
  if i % 3 == 0:
    print(i)

3

In [67]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
  if i < 20 and i % 3 == 0:
    print(i)

12
18

In [69]:
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
  if len(i) >= 3:
    print(i)

study
python
language

In [72]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.isupper():
    print(i)

A
D

In [73]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
  if i.islower():
    print(i)

b
c

In [77]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
  print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [78]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
  print(i.split('.')[0])

hello
ex01
intro

In [80]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  if i.split('.')[1] == 'h':
    print(i)

intra.h
define.h

In [82]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
    print(i)

intra.h
intra.c
define.h

In [84]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [85]:
for i in range(2002, 2051, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [88]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [91]:
for i in range(100):
  print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [94]:
for i in range(10):
  print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [102]:
for i in range(1, 10):
  print(3, 'X', i, '=', 3 * i)

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [105]:
for i in range(1, 10):
  if i % 2 == 1:
    print(3, 'X', i, '=', 3 * i)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27

In [109]:
s = 0
for i in range(11):
  s += i
print(s)

55

In [111]:
s = 0
for i in range(11):
  if i % 2 == 1:
    s += i

print(s)

25

In [117]:
s = 1
for i in range(1, 11):
  s *= i

print(s)

3628800