# 연산과 구문

In [77]:
#1번
a = 100
(a > 100) and (a < 200) # False
(a > 100) or (a < 200) # Ture
(a >= 100) and (a <= 200) # True
(a >= 100) or (a <= 200) # True

True

In [78]:
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [82]:
c = 1000

c // 100
# 결과값은 10입니다.

10

In [85]:
# 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.
money = int(input())

num_5000 = money // 5000
money = money - num_5000 * 5000

# 1000원 지폐 개수 계산
num_1000 = money // 1000
money = money - num_1000 * 1000

# 500원 동전 개수 계산
num_500 = money // 500
money = money - num_500 * 500

# 100원 동전 개수 계산
num_100 = money // 100

print("5000원 지폐 개수:", num_5000)
print("1000원 지폐 개수:", num_1000)
print("500원 동전 개수:", num_500)
print("100원 동전 개수:", num_100)

5000원 지폐 개수: 1
1000원 지폐 개수: 0
500원 동전 개수: 0
100원 동전 개수: 0

# 리스트, 튜플, 딕셔너리, 셋

In [1]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

In [5]:
sum(student_score.values())

402

In [10]:
sum(student_score.values()) / len(student_score.values())

80.4

In [16]:
max(student_score.items())

('홍의', 97)

In [18]:
min(student_score.items())

('동해', 77)

In [19]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

In [21]:
menu = []

for i in like:
    if i not in dislike:
        menu.append(i)
print(menu)

['볶음밥', '라면', '치킨', '짜장면']

In [29]:
data = [{"이름": "길동", "수학": 3, "과학": 93}, {"이름": "춘향", "수학": 33, "과학": 11}, {"이름": "철수", "수학": 94, "과학": 67}]

max(data, key= lambda x: x['수학'] + x['과학'])

{'이름': '철수', '수학': 94, '과학': 67}

In [32]:
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}
{name : score + 5 for name, score in grades.items()}

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [38]:
s = "apple banana apple cherry banana cherry apple"
l = s.split()
max(set(l), key= l.count)

'apple'

In [65]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성하시오.
sum(국영수.values()) / len(국영수.values())

75.0

In [66]:
# 문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하시오.
국영수.update({'사회': 70})
국영수.update({'과학': 70})
sum(국영수.values()) / len(국영수.values())

73.0

In [69]:
# 문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성하시오.
국영수['영어'] += 10
국영수['수학'] += 10

In [72]:
# 문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성하시오.
max(국영수.values())

100

In [76]:
# 문제5: 가장 높은 점수에 과목을 출력해주세요.
max(국영수, key=국영수.get)

'수학'

# 함수

In [86]:
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

I
love
python

In [87]:
def plus(num1, num2):
    return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [112]:
a = 2
b = 3

def multiple (x=0, y=0):
    return x * y

def plus (x=0, y=0):
    return x + y

def minus (x=0, y=0):
    return x - y

multiple(plus(a,b), minus(a,b))

-5

In [116]:
#x의 n제곱을 구하는 함수를 만들어주세요. 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)
def power(x, n):
    if n == 0:
        return 1
    else:
        return x * power(x, n-1)
    

power(5, 2)

25

In [131]:
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]
s = sorted(data, key=lambda x: x[1])[0][0]
s[s.find('licat'):]

'licat'

In [134]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = list(filter(lambda x: x % 2 != 0, numbers))

print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [135]:
# 연습문제 1. 고등어 가게에서 고등어가 팔리고 있는 상황을 파이썬 프로그램으로 작성하려고 합니다. 아래의 코드를 완성하여, 5마리의 고등어부터 1마리의 고등어까지 재고를 표시하고, 마지막에는 ‘고등어 다 팔렸습니다.’라는 메시지가 출력되도록 하세요.

In [138]:
for i in range(5, 0, -1):
    print('고등어가 ', i, '마리 남았습니다.')
else:
    print('고등어가 다 팔렸습니다.')

고등어가  5 마리 남았습니다.
고등어가  4 마리 남았습니다.
고등어가  3 마리 남았습니다.
고등어가  2 마리 남았습니다.
고등어가  1 마리 남았습니다.
고등어가 다 팔렸습니다.

In [140]:
for i in range(5, 0, -1):
    if i > 0:
        print('고등어가 ', i, '마리 남았습니다.')
    else:
        print('고등어가 다 팔렸습니다.')

고등어가  5 마리 남았습니다.
고등어가  4 마리 남았습니다.
고등어가  3 마리 남았습니다.
고등어가  2 마리 남았습니다.
고등어가  1 마리 남았습니다.

In [142]:
data = [
    {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
    },
    {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
    },
    {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
    },
    {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
    },
    {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
    },
    {
    "_id": "6019fd438eaf753918f55226",
    "age": 34,
    "eyeColor": "green",
    "name": "Davenport Hyde",
    "gender": "male"
    },
    {
    "_id": "6019fd43c35929ff95004109",
    "age": 20,
    "eyeColor": "blue",
    "name": "Shauna Blevins",
    "gender": "female"
}
]

In [168]:
ages = [i['age'] for i in data]
s = sum(ages) / len(ages)
print(f'{s: .2f}')

 29.43

In [174]:
male = 0
female = 0
for i in data:
    if i['gender'] == 'male':
        male += 1
    else:
        female += 1
print(male, ':', female)

5 : 2

In [175]:
data = [
    {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "gender": "여성",
    "age": "43"
    },
    {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "gender": "남성",
    "age": "22"
    },
    {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "gender": "남성",
    "age": "31"
    }
]

In [190]:
class User:

    def __init__(self, data):
        self._id = data['_id']
        self.index = data['index']
        self.name = data['name']
        self.gender = data['gender']
        self.age = data['age']
user_1 = User(data[0])
user_2 = User(data[1])
user_3 = User(data[2])

user_list = [user_1, user_2, user_3]
user_list[0].age

'43'

In [191]:
# BankAccount 클래스를 생성하세요. 이 클래스는 owner(계좌주 이름), balance(잔액) 속성을 가져야 합니다. 이 클래스는 deposit(amount) (입금) 및 withdraw(amount) (출금) 메서드를 가져야 합니다. 단, 출금 시 잔액보다 큰 금액을 출금하려고 하면 "잔액 부족" 메시지를 출력해야 합니다.

In [206]:
class BankAccount:

    def __init__(self, owner, balance):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
        else:
            print('1원 이상을 입금해주세요!')
    
    def withdraw(self,amount):
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
        elif amount <= 0:
            print('0원 이하는 출금을 못합니다!')
        else:
            print('잔액부족!')

account = BankAccount('강경모', 0)

account.deposit(50000)
account.balance
account.withdraw(30000)
account.balance
account.withdraw(0)
account.balance

0원 이하는 출금을 못합니다!

20000

In [207]:
class Person:
		
		def work(self):
				print('열심히 일하자')


class Cook(Person):

		def __init__(self, menu):
				self.menu = menu
				print('주방장이 될꺼야!')
		
		def work(self):
				print(f'{self.menu}를 만들자')


class Developer(Person):
		
		def __init__(self, language):
				self.language = language
				print('CTO가 될꺼야!')

		def work(self):
				print(f'{self.language} 코드를 짜보자')

In [209]:
person = Person()
cook = Cook('피자')
developer = Developer('파이썬')

# person.work() # 열심히 일하자
# cook.work() # 피자를 만들자
# developer.work() #파이썬 코드르 짜보자

주방장이 될꺼야!
CTO가 될꺼야!

In [211]:
class MultiPlayer(Developer, Cook):
		pass
multiPlayer = MultiPlayer('파이썬')
multiPlayer.work()

CTO가 될꺼야!
파이썬 코드를 짜보자

In [212]:
list = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [213]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [214]:
stock = {'시가': [100, 200, 300], '종가': [80, 210, 300]}

In [215]:
stock = {'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [223]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for l in i:
        print(l,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [228]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for l in i:
        print(l,'호')

301 호
302 호
201 호
202 호
101 호
102 호

In [231]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for l in i[::-1]:
        print(l,'호')

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]