In [4]:
s = 'licat.jpeg'
s = 'li.cat.jpeg'
s.split('.')[-1]

'jpeg'

In [12]:
# a 와 b 를 더한 값과 a 와 b 를 뺀 값을 곱하는 함수를 만들어주세요.
a = 2
b = 3

def mul(a, b):
    return a * b

def plus(a, b):
    return a + b

def minus(a, b):
    return a - b

mul(plus(a, b), minus(a, b))

-5

In [13]:
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello w', 31],
    [6, 'hello w', 39]
]

In [17]:
# 1번쨰 문제 : 첫번째 요소의 값을 정렬하세요.
sorted(data)

[[2, 'hello world', 30],
 [3, 'hworl', 33],
 [4, 'hello w', 31],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

In [21]:
# 2번째 문제 : 두번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x: len(x[1]))

[[3, 'hworl', 33],
 [4, 'hello w', 31],
 [6, 'hello w', 39],
 [5, 'hello wo', 35],
 [2, 'hello world', 30]]

In [24]:
# 3번째 문제 : 세번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x: x[2])

[[2, 'hello world', 30],
 [4, 'hello w', 31],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

In [26]:
# 4번째 문제 : 첫번째 요소와 세번째 요소의 차카 큰 순으로 출력해주세요.
sorted(data, key=lambda x: x[2] - x[0], reverse = True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

In [41]:
# [10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.
# 현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아
# insert로 중간에 값을 삽입해주세요.
l = sorted([10, 20, 40, 50, 30])
l.insert(l.index(30), 25)
l

[10, 20, 25, 30, 40, 50]

In [46]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}
# 문제1 : 다음 국영수 dict에 점수에 평균을 구하시오.
sum(국영수.values()) / len(국영수)

75.0

In [51]:
# 문제2 : {'사회':70, '과학': 85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성하세요.
국영수.update({'사회': 70, '과학': 85})
국영수
sum(국영수.values()) / len(국영수)

76.0

In [52]:
# 문제3 : 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가 해주세요.
국영수['영어'] += 10
국영수['수학'] += 10
국영수

{'국어': 97, '영어': 48, '수학': 100, '사회': 70, '과학': 85}

In [66]:
# 문제4 : 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성해주세요.
max(국영수.items(), key=lambda x: x[1])[1]

100

In [67]:
data = [
    {
    "_id": "fd7e9a0f-e77b-436a-B781-119b66033d49",
    "index": "1",
    "name": "나주헌",
    "email": "user-tzctc1q@suspendisse.org",
    "phone": "010-5547-5841",
    "country": "과테말라",
    "address": "광나루로 99-2",
    "job": "유치원교사",
    "gender": "여성",
    "age": "43"
    },
    {
    "_id": "8ec6eabb-160a-41e4-A3de-cd33aff0b281",
    "index": "2",
    "name": "엄루다",
    "email": "user-1rz7xby@mi.org",
    "phone": "010-3963-9373",
    "country": "엘살바도르",
    "address": "석촌호수로 37-1",
    "job": "프로게이머",
    "gender": "남성",
    "age": "22"
    },
    {
    "_id": "bcf804f7-0452-4c31-B9d1-20cc2d38490b",
    "index": "3",
    "name": "형유환",
    "email": "user-ym96wth@have.net",
    "phone": "010-6389-9499",
    "country": "벨리즈",
    "address": "잠실로 33-3",
    "job": "아나운서",
    "gender": "남성",
    "age": "31"
    },
    {
    "_id": "11006f0d-e88d-41fc-A288-caa2e67927e7",
    "index": "4",
    "name": "위도현",
    "email": "user-tkxj6f5@diam.org",
    "phone": "010-4246-4752",
    "country": "바레인",
    "address": "종로 99-8",
    "job": "작곡가",
    "gender": "여성",
    "age": "42"
    },
    {
    "_id": "b7421487-da52-4410-B696-17bab958a5d8",
    "index": "5",
    "name": "유성재",
    "email": "user-bgxih63@Sed.net",
    "phone": "010-6359-7592",
    "country": "피지",
    "address": "방학로 71-3",
    "job": "연기자",
    "gender": "여성",
    "age": "48"
    }
]

In [81]:
# 문제 1번: 평균 나이를 출력해주세요.
ages = map(lambda x:x['age'], data)
ages = list(map(int, ages))
average = sum(ages) / len(ages)
average

37.2

In [82]:
# 문제 2번: 남녀 성비를 출력해주세요.
male = 0
female = 0
for i in range(len(data)):
    if data[i]['gender'] == '남성':
        male += 1
    else:
        female += 1

print(f'{male} : {female}')

2 : 3