# 파이썬 시작하기

In [1]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
print('C/Windows')

C/Windows

In [7]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# /n은 줄바꿈, /t는 탭을 의미한다.

안녕하세요.
만나서		반갑습니다.

In [9]:
print ("오늘은", "일요일")
# 오늘은 일요일

오늘은 일요일

In [10]:
print('naver', 'kakao', 'sk', 'samsung', sep=';')

naver;kakao;sk;samsung

In [11]:
print('naver', 'kakao', 'sk', 'samsung', sep='/')

naver/kakao/sk/samsung

In [12]:
print("first", end='');print("second")

firstsecond

In [13]:
print('5/3')

5/3

# 변수

In [14]:
samsung = 50000
print(samsung * 10)

500000

In [15]:
All_price = 298000000000000
price = 50000
PER = 15.79

In [16]:
s = "hello"
t = "python"
print(s + '!'+ t)

hello!python

In [17]:
2 + 2 * 3 # == 8

8

In [19]:
a = "132"
print(type(a)) # str

<class 'str'>

In [21]:
num_str = "720"
int(num_str)

720

In [24]:
num = 100
str(num)

'100'

In [25]:
num = '15.79'
float(num)

15.79

In [27]:
year = "2020"
print(int(year) - 1, int(year) - 2,int(year) - 3)

2019 2018 2017

In [28]:
price = 48584
print(price * 36)

1749024

In [31]:
letters = 'python'
print(letters[0], letters[2])

p t

In [38]:
license_plate = "24가 2210"
license_plate[-4:]

'2210'

In [35]:
string = "홀짝홀짝홀짝"
string[::2]

'홀홀홀'